html
    head
        title Strona logowania
        link(rel='stylesheet', href='/static/style.css')
        link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Lato')
    body
      div.container
        h1 Proin cursus odio
        p Nulla ligula quis erat eu odio. Nam placerat porttitor. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per conubia nostra, per inceptos hymenaeos. Nullam feugiat mattis ipsum ut magna quis venenatis placerat, nisl sit amet, consectetuer adipiscing elit. Aliquam et risus libero, fermentum risus. Cras dolor vel pede. Etiam eu ante. Fusce consequat vel, urna. Aenean feugiat dui, eu orci ac augue. Nam eu nisl. Aenean ligula.
        div.loginForm
          span Login
          input
          span Password
          input
          a.login-button(href='/auth/google') Log in!