html
    head
        title Strona logowania
        link(rel='stylesheet', href='/static/style.css')
        link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Lato')
    body
      div.container
        h1 You can sit and sleep now.
        img(src="https://media.giphy.com/media/l0Iyei5MxFUMpoPAI/giphy.gif")